/* body{
    background-color: aqua;
} */
*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}
/* shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* main style */
.logo h2{
    font-size: 45px;
    font-weight:900;
}
.color-orange{
    color:#FD6E0A;
}
header{
    background-color: #FFF8F3;
    background:url(../images/developer.png),url(../images/header_bg.png),#FFF8F3;
    background-position: top left , bottom right;
    background-repeat:no-repeat ;
    padding-top:50px;
}
.btn{
    background-color: #FD6E0A;
    border:none;
    padding:17px 25px;
    border-radius:2px;
    font: size 20px;
    font-weight:bold;
    color:white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

nav{
    width: 71%;
    max-width:1140px;
    /* border:1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between ;
    align-items: center;

}
nav .manu{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items:center;
}
nav .manu{
    font-size: 20px;
    color: #474747;
    text-decoration:none;
}
#benner{
    border:1px solid red;
    margin: 47px 38px 0 230px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}
#benner .benner-content{
    max-width:585px;
}
#benner .benner-content h2{
font-size: 45px;
font-weight: 600;
color: #474747;
margin-bottom:5px ;
}
#benner .benner-content h1{
    font-size:85px ;
    font-weight: bold;
    color: #181817
    margin-bottom:20px ;
}
#benner .benner-content p{
    font-size: 18px;
    color: #757575;
    line-height:30px ;
    margin-bottom: 30px;
}
#banner .benner-content image{
    max-width: 585px;
    vertical-align:middle ;
}
#about{
padding-top: 130px;}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container.about-info{
    display:flex ;
    justify-content: space-around;
}
.about-info .info-card p{
    font-size: 20px;
    line-height: 30px;
    color: #757575;
}
.about-info .info-card h4{
    font-size: 20px;
} 
#skills{
    padding-top: 130px;
}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    padding: 30px;
    /* border: 1px solid red; */
    box-shadow: 0 6px 50px 0 ;
    max-width: 267px;
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skill-card h3{
    font-size: 20px;
    color: #181818;
    margin-bottom: 20px;
}
.skill-card p{
     font-size: 16px;
    color: #757575;
    line-height:28px ;
    
}